@font-face {
    font-family: "Code";
    src: url('../assets/code.ttf') format('truetype');
}
@font-face {
    font-family: "pokemon";
    src: url('../assets/pokemon.ttf') format('truetype');
}

.light-white {
    background-color: rgba(255, 255, 255, 0.3)
}
.semilight-white {
    background-color: rgba(255, 255, 255, 0.5)
}

.index-title {
    width:80%;
    max-width:800px;
}
.index-logopokemon {
    width:30%;
    max-width:400;
}
.standard-bg {
    background:repeat url('../img/tuto-back.png');
}

.index-back{
    background:center url('../img/index-back.jpg');
}
.index-form-container{
    background-color:rgba(255,255,255,03);
}
.index-form {
    padding:10px;
}

.glyphicon-arrow-down {
    
}
.tuto-chen {
    min-width:100px;
    width:30%;
    display:block;
    margin:auto;
}

.poke-dialog-old{
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
    text-align:left;
    background-color:white;
    font-family: 'pokemon', 'Lucida Console';
    font-size: 10pt;
    padding:10px;
    min-height:60px;
}
.poke-dialog-old-vedge {
    width:20px;
    background:url('../img/dialog-leftright.png') repeat-y;
}
.poke-dialog-old-hedge {
    height:20px;
    background:url('../img/dialog-updown.png') repeat-x;
}
.poke-dialog-old-corner {
    height:20px;
    width:20px;
}
.poke-dialog-old-upleft {
    background:url('../img/dialog-upleft.png') no-repeat;
}
.poke-dialog-old-upright {
    background:url('../img/dialog-upright.png') no-repeat;
}
.poke-dialog-old-downright {
    background:url('../img/dialog-downright.png') no-repeat;
}
.poke-dialog-old-downleft {
    background:url('../img/dialog-downleft.png') no-repeat;
}
.poke-dialog-old button {
    font-family: 'pokemon', 'Lucida Console';
    font-size: 10pt;
    background-color:white;
    border:0px;
}
.card-dresser {
    font-size:12pt;
    padding-left:5pt;
    padding-top:10px;
}
.card-red {
    display:block;
    float:right;
}

.poke-icon{
    width:25%;
}

.talk-toggle {
  float:right;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.catchWindow {
    height: 270px;
    text-align:center;
    vertical-align: middle;
}